.path {
    fill: none;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

#testContainer {
    margin-left: 15px;
    margin-right: 15px;
    height: 1000px;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.overlay {
    fill: #fff;
}



